.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-style: oblique;
  background-image: url('https://i.gifer.com/7VE.gif');
  background-repeat: no-repeat;
  background-position: center 100px;
}

.title {
  margin: 0 0 20px 0;
  font-size: 56px;
}

.link {
  position: relative;
  font-size: 28px;
  font-weight: 500;
}

.link::before {
  content: '';

  position: absolute;
  right: 0;
  bottom: -2px;
  left: 0;

  height: 1px;

  background-color: #383838;

  transform: scaleX(0);
  transform-origin: center center;

  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.665, 0.14, 0.785, 0.285);
}

.link:hover::before,
.link:focus::before {
  transform: scaleX(1);

  transition-timing-function: cubic-bezier(0.12, 0.845, 0.305, 1);
}
